


<div class="row">
  <div class="col-sm-6">
    <h1>Recipients</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_recipient_path, class: 'btn btn-primary' do %>
    Add New Recipient
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Address</th>
            
      </tr>
    </thead>

    <tbody>
      <% @recipients.each do |recipient| %>
        <%= content_tag :tr, id: dom_id(recipient), class: dom_class(recipient) do %>
          
            <td><%= link_to recipient.name, recipient %></td>
          

                      <td><%= recipient.address %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
